.createDonor{
     margin-left: 10%;
}
/* jumbotron */

#header_background{
     background: url('../images/site/blood-7.PNG');
     background-repeat: no-repeat;
     background-size: cover;
}

/* navigation */  
#nav_background{
     background: url('../images/site/back.PNG');
     background-repeat: no-repeat;
     background-size: cover;
}

#topnav ul li a{
     color: white;
}